body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

/* ***********************************************
**********************************************
               alireza section         
 **********************************************
 ************************************************ */

#alireza {
  background-color: #1abc9c;
  background-image: linear-gradient(
    130deg,
    hsl(168deg 76% 42%) 0%,
    hsl(170deg 60% 48%) 10%,
    hsl(172deg 59% 54%) 20%,
    hsl(175deg 63% 60%) 30%,
    hsl(177deg 67% 66%) 40%,
    hsl(180deg 74% 72%) 50%,
    hsl(166deg 75% 75%) 60%,
    hsl(144deg 71% 81%) 70%,
    hsl(103deg 67% 83%) 80%,
    hsl(70deg 66% 80%) 90%,
    hsl(46deg 100% 83%) 100%
  );
  padding: 1em 2.5em;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  box-shadow: 15px 15px 8px 1px hsla(0, 0%, 50%, 0.5);
  font-family: Montserrat;
  color: hsla(0, 0%, 0%, 0.9);
  animation: cloud 4s infinite;
}

#alireza span {
  color: hsl(6, 78%, 57%);
}

#alireza-face {
  cursor: pointer;
  user-select: none;
}

#alireza-hand {
  animation: alireza-hand-animation 1s infinite linear;
  display: inline-block;
}
@keyframes cloud {
  0% {
    transform: translate(0px 0px);
    box-shadow: 5px 5px 2px 1px hsla(0, 0%, 50%, 0.5);
  }
  50% {
    transform: translate(-5px, -5px);
    box-shadow: 15px 15px 10px 1px hsla(0, 0%, 50%, 0.5);
  }
  100% {
    transform: translate(0px 0px);
    box-shadow: 5px 5px 2px 1px hsla(0, 0%, 50%, 0.5);
  }
}

@keyframes alireza-hand-animation {
  0% {
    transform: rotate(-30deg);
    transform-origin: 20px 20px;
  }

  20% {
    transform: rotate(-20deg);
    transform-origin: 20px 20px;
  }

  40% {
    transform: rotate(-10deg);
    transform-origin: 20px 20px;
  }

  60% {
    transform: rotate(5deg);
    transform-origin: 20px 20px;
  }

  80% {
    transform: rotate(+30deg);
    transform-origin: 20px 20px;
  }

  90% {
    transform: rotate(+0deg);
    transform-origin: 20px 20px;
  }

  100% {
    transform: rotate(-20deg);
    transform-origin: 20px 20px;
  }
}

/* ***********************************************
**********************************************
               amin section         
 **********************************************
 ************************************************ */

.amin-section {
  background-color: #202d3f;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: sans-serif;
  padding: 10px 30px;
  display: flex;
  align-items: center;
}

.amin-section * {
  margin: 0;
  padding: 0;
}

.amin-section img {
  object-fit: cover;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 2px solid white;
}

.amin-section .side {
  margin-left: 30px;
  margin-right: 3%;
  text-align: left;
}

.amin-section p {
  color: #56dbc0;
  font-size: 13px;
}

.amin-section h2 {
  color: #bfcaea;
  margin: 0;
  font-size: 35px;
  letter-spacing: 2px;
}

.amin-section span {
  color: #56dbc0;
}

/* ***********************************************
**********************************************
               Birbman section         
 **********************************************
 ************************************************ */

.birbman-section {
  display: flex;
  justify-content: center;
}

.birbman-section p {
  background-color: #272c35;
  margin: 0;
  padding: 1em;
  color: #9bb0d7;
  height: 158px;
}

/* ***********************************************
**********************************************
               Cloud section         
 **********************************************
 ************************************************ */

.cloud-section {
  background-color: #202d3f;
  color: #56dbc0;
  padding: 0.5em 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.cloud-head {
  margin-bottom: 0px;
}
.cloud-smallText {
  margin-top: 0px;
  font-size: 0.8rem;
}

/* ***********************************************
**********************************************
               Marleigh section         
 **********************************************
 ************************************************ */

.marleigh-section {
  background-color: rgb(174, 225, 245);
  font-family: "Montserrat", sans-serif;
  color: rgba(29, 26, 26, 0.8);
  font-weight: 300;

  padding: 1em;
  margin: 1em;
  border-radius: 15px;
}

.marleigh-section h1 {
  font-weight: 600;
  color: rgb(20, 7, 92);
}

.marleigh-section p,
.marleigh-section h1 {
  margin: 0.1em;
}

/* ***********************************************
**********************************************
               name  section         
 **********************************************
 ************************************************ */
