body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;

}

/* ***********************************************
**********************************************
               alireza section         
 **********************************************
 ************************************************ */

#alireza {
    background-color: hsl(168, 76%, 42%);
    padding: .5em 2.5em;

}

#alireza span {
    color: hsl(6, 78%, 57%);

}

#alireza-face {
    cursor: pointer;
    user-select: none;
}

#alireza-hand {
    animation: alireza-hand-animation 1s infinite;
    display: inline-block;
}


@keyframes alireza-hand-animation {
    0% {
        transform: rotate(-30deg);
        transform-origin: 20px 20px;
    }

    20% {
        transform: rotate(-20deg);
        transform-origin: 20px 20px;
    }

    40% {
        transform: rotate(-10deg);
        transform-origin: 20px 20px;
    }

    60% {
        transform: rotate(5deg);
        transform-origin: 20px 20px;
    }

    80% {
        transform: rotate(+30deg);
        transform-origin: 20px 20px;
    }

    90% {
        transform: rotate(+0deg);
        transform-origin: 20px 20px;
    }

    100% {
        transform: rotate(-20deg);
        transform-origin: 20px 20px;
    }
}

/* ***********************************************
**********************************************
               amin section         
 **********************************************
 ************************************************ */

.amin-section {
    background-color: #202D3F;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: sans-serif;
    padding: 10px 30px;
    display: flex;
    align-items: center;
}

.amin-section * {
    margin: 0;
    padding: 0;
}

.amin-section img {
    object-fit: cover;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid white;
}

.amin-section .side {
    margin-left: 30px;
    margin-right: 3%;
    text-align: left;
}

.amin-section p {
    color: #56DBC0;
    font-size: 13px;
}

.amin-section h2 {
    color: #BFCAEA;
    margin: 0;
    font-size: 35px;
    letter-spacing: 2px;
}

.amin-section span {
    color: #56DBC0;
}


/* ***********************************************
**********************************************
               Birbman section         
 **********************************************
 ************************************************ */

.birbman-section {
    display: flex;
    justify-content: center;
}

.birbman-section p {
    background-color: #272c35;
    margin: 0;
    padding: 1em;
    color: #9bb0d7;
    height: 158px;
}

/* ***********************************************
**********************************************
               Cloud section         
 **********************************************
 ************************************************ */

 .cloud-section{
     background-color: #202D3F;
     color: #56DBC0;
     padding: 0.5em 2em;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .cloud-head{
     margin-bottom: 0px;
 }
 .cloud-smallText{
     margin-top: 0px;
     font-size: 0.8rem;
 }